   <!-- Introduction -->
   <div class="container mt-5 pt-5" id="intro">
    <section class="section mb-3">
      <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">WE CAPTURE THE MOMENTS</h1>
      <div class="row wow fadeIn" data-wow-delay="0.4s">
        <div class="col-md-12 pb-5 text-center black-text">
          <div class="beautiful-paragraph">
            <p style="text-align: center;
            max-width: 800px;
            margin: 0 auto; 
            line-height: 1.5;  
            font-size: 18px ;">At Capturer, we specialize in freezing those fleeting moments in time that hold immense significance for you. With our passion for photography and keen eye for detail, we transform ordinary moments into extraordinary memories.</p>
            <p style="text-align: center;
            max-width: 800px;
            margin: 0 auto; 
            line-height: 1.5;  
            font-size: 18px ;">Whether it's a milestone event, a candid portrait, or the breathtaking beauty of nature, we strive to encapsulate the essence of every moment, ensuring that your cherished memories last a lifetime. Trust us to capture the magic of your life's journey, one frame at a time.</p>
          </div>
        </div>
      </div>
    </section>
   </div>
  <!-- /Introduction -->